.Buscar{
    background-color: pink;
    opacity: 1px;
    border: 1px solid blac;
    width: 308px;
    height: 35px;
    border-right: 10px;
    margin-left: 100px;
    border-radius: 2em;
    text-align: center;
}

.botonBuscar{
   
    background-color: #000000;
    padding: 5px;
    width: 87px;
    color: white;
    margin-right: 30px;
    margin-left: 9px;
    border-radius: 1em;
}

::placeholder{
color:black;
text-align: center;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
font-size: 15px;
};


