.selectorOrden{
    background-color: #000000;
    padding: 5px;
    border-radius: 1em;
    width: 200px;
    color: white;
    margin-right: 20px;
}

.selectorGender{
    background-color: #000000;
    padding: 5px;
    border-radius: 1em;
    width: 200px;
    color: white;

}

.Favorites{
    color: antiquewhite;
   
    margin-top: 20px;
    margin-bottom: 20px;
    
    color: yellow;
    font-family: cursive;
    text-shadow: 0 0 10px red, 0 0 20px red, 0 0 40px red, 0 0 70px red;
}